<div class="card mt-5">
  <div class="card-header ">
    {{pageTitle}}
  </div>
  <div class="card-body ">
    <div class="row">
      <div class="mx-auto">
        <img class="img-responsive" src="./assets/ngrx.png" alt="NgrxDataFlow"
          style="height:300px;padding-bottom:20px" />
      </div>
    </div>
    <h1 class="text-center "> A Simple Redux Application with Ngrx</h1>
    <p class="text-justify">Since I started working with React I was trying to understand my unreasonable abhorrence of
      Redux. A year later Angular is the main framework that I use in my current company. As that happened, I decided to
      create a simple app with NGRX. Furthermore, it was a challenge for me as I remember struggling a lot to comprehend
      basic concepts about actions. I used angular-in-memory-wep-api to load the products and initialize the store. I
      created an effect to handle product success and product failure. Is a CRUD APP that I create in my free time and a
      chance to build a repo with maintainable and easy-to-follow code. As a junior developer, it was also a good
      opportunity for understanding and following
      <a class="font-italic" target="_blank" rel="noopener noreferrer"
        href="https://indepth.dev/posts/1478/designing-angular-architecture-container-presentation-pattern">Container
        vs Presentational Components </a>
      approach
    </p>
    <div class="row">
      <div class="mx-auto ">
        <img class="img-fluid"  src="./assets/container-presentation.png" alt="ContainervsPresentationalexplanation"
          >
      </div>
    </div>
  </div>
</div>
